contourpy==1.3.1
sphinxcontrib-applehelp==2.0.0
h5py==3.12.1
importlib_metadata==8.5.0
cligj==0.7.2
gast==0.6.0
flipnslide==0.0.1
google-crc32c==1.6.0
pyproj==3.7.0
ipykernel==6.29.5
sentry-sdk==2.19.2
jsonschema-specifications==2024.10.1
nvidia-nvtx-cu12==12.4.127
namex==0.0.8
proto-plus==1.25.0
optree==0.13.1
cycler==0.12.1
pydantic_core==2.27.1
SQLAlchemy==2.0.36
shapely==2.0.6
pandas==2.2.3
tensorboard==2.18.0
bokeh==3.6.2
GitPython==3.1.43
psutil==5.9.0
parso==0.8.4
certifi==2024.8.30
pillow==11.0.0
nvidia-cusparse-cu12==12.3.1.170
fsspec==2024.10.0
rpds-py==0.21.0
grpcio==1.68.1
typeshed_client==2.7.0
torchgeo==0.6.1
multidict==6.1.0
branca==0.8.0
lightly-utils==0.0.2
fiona==1.10.1
psygnal==0.11.1
aenum==3.1.15
pretrainedmodels==0.7.4
asciitree==0.3.3
jupyter-book==1.0.3
asttokens==2.4.1
numpy==2.0.2
markdown-it-py==3.0.0
nvidia-cuda-nvrtc-cu12==12.4.127
jedi==0.19.2
beautifulsoup4==4.12.3
aiohttp==3.11.7
sphinx_external_toc==1.0.1
google-api-core==2.23.0
watermark==2.5.0
pexpect==4.9.0
google-auth==2.36.0
babel==2.16.0
webencodings==0.5.1
libclang==18.1.1
colour==0.1.5
antlr4-python3-runtime==4.9.3
click==8.1.7
greenlet==3.1.1
tenacity==9.0.0
pyperclip==1.9.0
cf_xarray==0.10.0
setuptools==75.1.0
soupsieve==2.6
efficientnet_pytorch==0.7.1
tensorflow==2.18.0
torchseg==0.0.1a4
omegaconf==2.3.0
debugpy==1.6.7
sphinxcontrib-devhelp==2.0.0
plotly==5.24.1
stack-data==0.6.3
nvidia-cusolver-cu12==11.6.1.9
uv==0.5.4
param==2.1.1
eerepr==0.0.4
aiosignal==1.3.1
fonttools==4.55.0
nvidia-cuda-runtime-cu12==12.4.127
geocoder==1.38.1
bleach==6.2.0
earthengine-api==1.4.0
pyviz_comms==3.0.3
python-dateutil==2.9.0.post0
ipyevents==2.0.2
annotated-types==0.7.0
scipy==1.14.1
pydantic==2.10.3
importlib_resources==6.4.5
ipyvue==1.11.2
jupyter_core==5.7.2
smmap==5.0.1
holoviews==1.20.0
jsonschema==4.23.0
httplib2==0.22.0
bitsandbytes==0.45.0
keras==3.7.0
setproctitle==1.3.4
nvidia-curand-cu12==10.3.5.147
pybtex-docutils==1.0.3
google-api-python-client==2.154.0
wcwidth==0.2.13
pure_eval==0.2.3
threadpoolctl==3.5.0
ptyprocess==0.7.0
Jinja2==3.1.4
myst-parser==2.0.0
ipywidgets==8.1.5
mpmath==1.3.0
nvidia-cuda-cupti-cu12==12.4.127
tqdm==4.67.0
widgetsnbextension==4.0.13
Markdown==3.7
traitlets==5.14.3
jupyter-cache==1.0.1
traittypes==0.2.1
alabaster==0.7.16
nvidia-nvjitlink-cu12==12.4.127
google-auth-httplib2==0.2.0
sphinx-multitoc-numbering==0.1.3
nest-asyncio==1.6.0
planetary-computer==1.0.0
kornia==0.7.4
kiwisolver==1.4.7
packaging==24.2
attrs==24.2.0
toolz==1.0.0
safetensors==0.4.5
botocore==1.35.36
kornia_rs==0.1.7
filelock==3.16.1
astunparse==1.6.3
cloudpickle==3.1.0
google-cloud-storage==2.18.2
pyogrio==0.10.0
sphinxcontrib-htmlhelp==2.1.0
Werkzeug==3.1.3
networkx==3.4.2
nvidia-cufft-cu12==11.2.1.3
yarl==1.18.0
torch==2.5.1
joblib==1.4.2
duckdb==1.1.3
sphinxcontrib-bibtex==2.6.3
geeml==0.0.7
tzdata==2024.2
geedim==1.9.0
sphinx-book-theme==1.1.3
ipyleaflet==0.19.2
munch==4.0.0
tornado==6.4.1
segmentation-models-pytorch==0.3.4
termcolor==2.5.0
pyshp==2.3.1
hydra-core==1.3.2
leafmap==0.41.2
triton==3.1.0
colorcet==3.1.0
rich==13.9.4
folium==0.18.0
aioitertools==0.12.0
PyYAML==6.0.2
nbclient==0.10.1
docutils==0.20.1
docker-pycreds==0.4.0
geemap==0.35.1
pybtex==0.24.0
timm==1.0.12
sphinx_design==0.6.1
xarray==2024.11.0
ipython==8.29.0
uritemplate==4.1.1
pytz==2024.2
mdurl==0.1.2
sphinx-togglebutton==0.3.2
geopandas==1.0.1
pip==24.2
future==1.0.0
numcodecs==0.14.1
locket==1.0.0
aiobotocore==2.15.2
schedulefree==1.4
lightning-utilities==0.11.9
comm==0.2.2
uc-micro-py==1.0.3
jupyter_client==8.6.0
scooby==0.10.0
imagesize==1.4.1
geojson==3.1.0
snuggs==1.4.7
idna==3.10
torchvision==0.20.1
fastjsonschema==2.21.1
pystac==1.11.0
google-cloud-core==2.4.1
click-plugins==1.1.1
lightly==1.5.15
sphinx-thebe==0.3.1
gitdb==4.0.11
panel==1.5.4
einops==0.8.0
ipyvuetify==1.10.0
ipytree==0.2.2
flatbuffers==24.3.25
sphinxcontrib-qthelp==2.0.0
prompt_toolkit==3.0.48
whitebox==2.3.5
matplotlib==3.9.2
tabulate==0.9.0
aiohappyeyeballs==2.4.3
natsort==8.4.0
ipyfilechooser==0.6.0
requests==2.32.3
gdown==5.2.0
xyzservices==2024.9.0
partd==1.4.2
python-dotenv==1.0.1
pyzmq==25.1.2
typing_extensions==4.12.2
sphinx-jupyterbook-latex==1.0.0
lightning==2.4.0
cachetools==5.5.0
wheel==0.44.0
Rtree==1.3.0
executing==2.1.0
six==1.16.0
snowballstemmer==2.2.0
sphinxcontrib-serializinghtml==2.0.0
Sphinx==7.4.7
nbformat==5.10.4
dask==2024.12.0
ratelim==0.1.6
rasterio==1.3.11
tensorboard-data-server==0.7.2
fasteners==0.19
zarr==2.18.3
affine==2.4.0
sphinx-comments==0.0.3
pyasn1_modules==0.4.1
scikit-learn==1.5.2
wandb==0.19.0
mdit-py-plugins==0.4.2
platformdirs==3.10.0
MarkupSafe==3.0.2
sphinxcontrib-jsmath==1.0.1
matplotlib-inline==0.1.7
charset-normalizer==3.4.0
latexcodec==3.0.0
nvidia-nccl-cu12==2.21.5
accessible-pygments==0.0.5
protobuf==5.28.3
anywidget==0.9.13
referencing==0.35.1
decorator==5.1.1
googleapis-common-protos==1.66.0
frozenlist==1.5.0
myst-nb==1.1.2
opt_einsum==3.4.0
rsa==4.9
jupyterlab_widgets==3.0.13
nvidia-cudnn-cu12==9.1.0.70
huggingface-hub==0.26.5
whiteboxgui==2.3.0
pystac-client==0.8.5
linkify-it-py==2.0.3
sphinx-copybutton==0.5.2
nvidia-cublas-cu12==12.4.5.8
pytorch-lightning==2.4.0
urllib3==2.2.3
rioxarray==0.18.1
stackstac==0.5.1
Pygments==2.18.0
jmespath==1.0.1
python-box==7.2.0
PySocks==1.7.1
bqplot==0.12.43
sympy==1.13.1
jupyter-leaflet==0.19.2
pyasn1==0.6.1
xvec==0.3.0
zipp==3.21.0
docstring_parser==0.16
hvplot==0.11.1
google-resumable-media==2.7.2
jsonargparse==4.34.1
ml-dtypes==0.4.1
propcache==0.2.0
wrapt==1.17.0
absl-py==2.1.0
torchmetrics==1.6.0
google-pasta==0.2.0
tensorboardX==2.6.2.2
s3fs==2024.10.0
pyparsing==3.2.0
pydata-sphinx-theme==0.16.0
inflect==7.3.1
jaraco.functools==4.0.1
jaraco.context==5.3.0
wheel==0.43.0
packaging==24.1
backports.tarfile==1.2.0
typeguard==4.3.0
importlib_resources==6.4.0
tomli==2.0.1
more-itertools==10.3.0
jaraco.collections==5.1.0
platformdirs==4.2.2
autocommand==2.2.2
typing_extensions==4.12.2
zipp==3.19.2
jaraco.text==3.12.1
importlib_metadata==8.0.0
